 <div class="nested-fields">
     <%= f.text_area :direction, placeholder: "作り方", class: "form-control col-8" %>
     <i class="fa-solid fa-camera-retro"></i>   <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "image" %>
  　  <%= link_to_remove_association  f ,:style =>"color: #432c28;", class: "btn btn-outline"  do %>
  　  <h4> <i class="fa-solid fa-trash"></i></h4>
  　  <% end %>
  　  <p>-----------------------------------------------------------------------------</p>
 </div>





