<div class= "cooking-tittle">
  <% if @search.present? %>
   「<%= @search %>」の検索結果
  <% else %>
  　検索結果
  <% end %>
</div>
<div class="cancel"><%= link_to 'レシピ一覧に戻る', public_recipes_path, class: "btn btn-outline-primary mr-4 navbar-brand" %></div>