

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: #848282;
}

.navbar-nav{
 color: #8b4513;
}


main {
    width: 100%;
    display: block;
    height: auto;
    background: #fffff0;
  }

.main-visual {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%; 
  height: 300px; 
  text-align: center; 
  padding-top: 105px; 
}

.box{
 width: 250px;
 display:inline-block;
 background:#ffffff;
 padding:15px;
 border:1px solid #432c28;
 border-radius:10px;
}

.search-form{
	text-align: center;
}


.recipe-heading {
  color: #432c28;
  border-bottom: 8px solid  #8b4513;
  text-align: center;
  line-height: 0.6;
}

.category {
  display: block;
  padding: 5px 8px;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}


.text_area{
  padding: 10px;
  color: #432c28;
}

  .recipe{
  background-color: #ffffff;
  }

.cooking-title{
  color: #432c28;
}

.pagination {
 text-align: center;
 margin: 0 auto;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}

@media screen and (max-width: 425px) {
  header {
    width: 100%;
  }

  .nav-list {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }

.category {
  width: 100%;
  display: none;
}

.recipe-box{
  width: 100%;
  display: block;
}


}
