<main><!-- 退会確認画面-->
 <div class="container my-5">
  <div class="row my-5">
    <div class="offset-2">
      <h1><strong>本当に退会しますか？</strong></h1>
      <br>
      <br>
      <p>退会すると、会員登録情報やこれまでお気に入りレシピが閲覧できなくなります。</p>
      <p>退会する場合は、「退会する」を選んでください。</p>
    </div>
  </div>
  <div class="row">
    <div class="offset-2 col-2">
    <%= link_to "退会しない" ,public_user_path(current_user), class: "btn btn-outline-dark" %>
    </div>
    <div class="offset-2 col-2">
    <%= link_to "退会する" , public_out_user_path(current_user),method: :patch, class: "btn btn-outline-danger" %>
    </div>
  </div>
 </div>
</main>
